.contacts {
    margin-top: 120px;
    margin-bottom: 100px;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__photo {
        margin-right: 10px;
    }
    &__img {
        width: 400px;
        height: 600px;
        object-fit: cover;
    }
    &__title {
        position: relative;
        padding-left: 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        @include before_circle;
        z-index: 2;
    }
    &__subtitle {
        font-weight: bold;
        font-size: 36px;
        line-height: 60px;   
    }
    &__deviller {
        width: 60px;
        height: 0px;
        border: 1px solid #FFA501;
    }
    &__text {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        padding-top: 20px;
    }
    &__social {
        display: flex;
        justify-content: flex-start;
    }
    &__icons {
        padding-right: 25px;
        margin-top: 20px;
    }
    &__form {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45px 190px 45px;
        gap: 30px;
        grid-template-areas: 
        'input email'
        'textarea textarea'
        'trigger trigger';
    }
    &__input {
        position: relative;
        grid-area: input;
        input {
            width: 100%;
            height: 100%;
            padding-left: 20px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        label {
            position: absolute;
            top: -9px;
            left: 12px;
            display: block;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
            font-size: 12px;
            margin-bottom: 0;
        }
    }
    &__input_email {
        grid-area: email;
    }
    &__textarea {
        position: relative;
        grid-area: textarea;
        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        label {
            position: absolute;
            top: -9px;
            left: 12px;
            display: block;
            height: 18px;
            padding: 0 8px;
            background-color: #fff;
            font-size: 12px;
            margin-bottom: 0;
        }
        
    }
    &__button {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        outline: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
    }
    &__trigger {
        grid-area: trigger;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
        margin-bottom: 50px;
    }
    &__policy {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
    }
}